@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

@tailwind base;

@layer base {
    .no-tw-base {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        span {
            font-size: revert;
            font-weight: revert;
            color: revert;
            background: revert;
            text-align: left;
            margin: revert;
            padding: revert;
            line-height: revert;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: white;
        }

        p {
            font-size: 1.2rem;
            color: #fafafa;
        }

        a {
            font-size: revert;
            color: skyblue;
            text-decoration: revert;
        }

        table {
            border-collapse: revert;
            border: revert;
            padding: revert;
            margin: revert;
        }

        th,
        tbody,
        td,
        tr {
            padding: revert;
            font-size: revert;
            margin: revert;
            font-weight: revert;
            border: revert;
            border-color: revert;
        }

        pre {
            border-radius: 10px !important;
            margin: 1rem 0 !important;
            padding: 20px !important;
            text-align: left;
            background: #292b34 !important;
        }

        code {
            font-family: "Fira Code" !important;
        }
    }
}

@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: none;
}
